body {
  background-color: #f8f9fa;
  line-height: 1.5;
  font-size: 0.875rem;
  font-weight: normal;
  font-family: "Poppins", sans-serif;
  color: #212529;
  position: relative;
}

h1, h2, h3, h4, h5, h6{
	font-family: "Montserrat", sans-serif;
	font-weight: 500;
	line-height: 1.2;
}

p{ margin-bottom: 0.625rem; }

/*оболочка*/
.wrapper {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

/*прижать footer вниз*/
.wrapper > main {
  flex: 1 1 auto;
}

/*ограничивающий контейнер из bootstrap*/
/*
Стили будут применяться ко всем классам содержащим *__container
Например header__container, page__container и т.д.
*/
[class*=__container] {
  --g-x: 0.75rem;
  margin: 0 auto;
  padding: 0 var(--g-x); /* отступы безопасности по 12px слева и справа */
  width: 100%;
}
@media (min-width: 576px) {
  [class*=__container] {
    max-width: 540px;
  }
}
@media (min-width: 768px) {
  [class*=__container] {
    max-width: 720px;
  }
}
@media (min-width: 992px) {
  [class*=__container] {
    max-width: 960px;
  }
}
@media (min-width: 1200px) {
  [class*=__container] {
    max-width: 1140px;
  }
}
@media (min-width: 1400px) {
  [class*=__container] {
    max-width: 1320px;
  }
}
/*далее контейнер для колонок*/
[class*=__row] {
  display: flex;
  flex-wrap: wrap;
  margin-top: 0;
  margin-right: calc(-1 * var(--g-x)); /* (-0.75) отступ безопасности будут убраны */
  margin-left: calc(-1 * var(--g-x)); /* (-0.75) отступ безопасности будут убраны */
}
[class*=__row] > * {
  flex-shrink: 0; /* flex элементу запрещено уменьшаться его базового размера */
  width: 100%;
  max-width: 100%;
  padding-right: var(--g-x); /* (0.75) отступ безопасности у __column чтобы внутри контент не прилипал */
  padding-left: var(--g-x); /* (0.75) отступ безопасности у __column чтобы внутри контент не прилипал */
  margin-top: 0;
}
/*колонки*/
[class*=__column-1]{ /*одна колонка в ряд*/
	flex: 0 0 auto;
	width: 100%
}
[class*=__column-2]{ /*две колонки в ряд*/
	flex: 0 0 auto;
	width: calc(100% / 2);
}
[class*=__column-3]{ /*три колонки в ряд*/
	flex: 0 0 auto;
	width: calc(100% / 3);
}
[class*=__column-4]{ /*четыре колонки в ряд*/
	flex: 0 0 auto;
	width: calc(100% / 4);
}
[class*=__column-5]{ /*пять колонок в ряд*/
	flex: 0 0 auto;
	width: calc(100% / 5);
}
/* =============================================================================== */
.page__column--border{
	border: 1px solid #ccc;
}










.footer {
  height: 2.25rem;
}
.footer__container {
  height: 100%;
}
.footer__container span {
  font-size: 0.75rem;
  font-weight: 500;
}
.footer__copyright { /*отцентрировать copyright по середине и центру*/
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}